<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<meta charset="utf-8">
<title>Listar</title>
<style>
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
}

.rodape {
	margin-left: 750px;
	margin-top: 100px;
}

.striped {
	background-color: #8cb0b0;
	border-radius: 20px !important;
	margin-left: 90px;
}
</style>

</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/formularioADM">Cadastro ADM</a></li>
				<li><a href="/formularioTIPO">Cadastro de Tipos</a></li>
				<li><a href="/listarAdmin/1">Lista de ADM</a></li>
			</ul>
		</div>
	</nav>

	<div class="row">
		<form method="get" class="col s12" action="/buscarPelaPalavra">
			<div class="row">
				<div class="input-field col s6">
					<input name="palavraChave" placeholder="Digite a palavra chave"
						id="first_name" type="search" class="validate"> <label
						for="first_name">Buscar pela palavra chave</label>
				</div>

				<button>
					Buscar<i class="material-icons right">send</i>
				</button>
		</form>
		
		<label>Browser Select</label> <select onchange="changeSelect()" name="totalElements" class="browser-default">
			<option value="" disabled selected>Escolha a quantidade de itens</option>
			<option value="-1">Selecione</option>
			<option value="2">2</option>
			<option value="4">4</option>
			<option value="6">6</option>
			<option value="8">8</option>
			<option value="16">16</option>
		</select>
		
		
	</div>


	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome:</th>
				<th>Descrição</th>
				<th>Palavra Chave</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="t:${tipos}">
				<td th:text="${t.id}"></td>
				<td th:text="${t.nome}"></td>
				<td th:text="${t.descricao}"></td>
				<td th:text="${t.palavraChave}"></td>
				<td><a th:href="@{/alterarTipos(id=${t.id})}">Alterar</a></td>
				<td><a th:href="@{/excluirTipos(id=${t.id})}">Excluir</a></td>
			</tr>
		</tbody>
	</table>

	<footer class="rodape">
		<div class="roda">
			<ul class="pagination">

				<li th:class="${paginaAtual == 1 ? 'disabled' : ''}"><a
					th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}"> <i
						class="material-icons">chevron_left</i></a></li>

				<li th:each="p:${numPaginas}"
					th:class="${paginaAtual == p ? 'active' : 'waves-effect'}"><a
					th:href="${p}"><span th:text="${p}"></span></a></li>

				<li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}">
					<a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1 : '#'}"><i
						class="material-icons">chevron_right</i></a>
				</li>
			</ul>
		</div>

	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>

</body>
</html>