<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org">
<head>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>            
<meta charset="utf-8">
<title>Lista de hotel</title>
</head>
<style>
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
}

.rodape {
	margin-left: 750px;
	margin-top: 100px;
}

.striped {
	background-color: #8cb0b0;
	margin-top: 20px;
}

</style>
<body>
<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Lista de Hoteis</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/formHotel">Cadastro Hotel</a></li>
			</ul>
		</div>
	</nav>


<table class="striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Descricão</th>
				<th>CEP</th>
				<th>Endereço</th>
				<th>Numero</th>
				<th>Bairro </th>
				<th>Cidade</th>
				<th>UF</th>
				<th>Tipo</th>
				<th>Complemento</th>
				<th>Site</th>
				<th>Redes Sociais</th>				
				<th>Telefone</th>
				<th>Fotos</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="h:${hoteis}">
			<td th:text="${h.id}"></td>
			<td th:text="${h.nome}"></td>
			<td th:text="${h.descricao}"></td>
			<td th:text="${h.cep}"></td>
			<td th:text="${h.endereco}"></td>
			<td th:text="${h.numero}"></td>
			<td th:text="${h.bairro}"></td>
			<td th:text="${h.cidade}"></td>
			<td th:text="${h.uf}"></td>
			<td th:text="${h.tipo}"></td>
			<td th:text="${h.complemento}"></td>
			<td th:text="${h.site}"></td>
			<td th:text="${h.redesSociais}"></td>
			<td th:text="${h.telefone}"></td>
			<td style="display: flex !important"><img style="width: 150px;" th:each="a: ${h.verFotos()}" th:src="${a}" alt="imagens"></td>
			<td><a th:href="@{/alterarHotel(id=${h.id})}">Alterar</a></td>
			<td><a th:href="@{/excluirHotel(id=${h.id})}">Excluir</a></td>
		</tr>
		</tbody>
	</table>
	
	<footer class="rodape">
		<div class="roda">
		<ul class="pagination">
		
		<li th:class="${paginaAtual == 1 ? 'disabled' : ''}">
		<a th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}">
		<i class="material-icons">chevron_left</i></a></li>
		
		<li th:each="p:${numPaginas}" th:class="${paginaAtual == p ? 'active' : 'waves-effect'}">
			<a th:href="${p}"><span th:text="${p}"></span></a>
		</li>
		
		<li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}" >
		<a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1 : '#'}" ><i
				class="material-icons">chevron_right</i></a></li>
	</ul>
		</div>
		
	</footer>

</body>
</html>