body {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
}

.rodape {
	margin-left: 750px;
	margin-top: 100px;
}

.striped {
	background-color: #8cb0b0;
	margin-top: 20px;
}
.nav-wrapper{
	background-color: #590d22 !important;	
	
}
th{
	background-color: #800f2f !important;
}


